/* Write your code here. */
.thumbnail-image {
  margin-right: 10px;
  margin-left: 10px;
}

.opacity1 {
  opacity: 0.5;
}
.opacity2 {
  opacity: 1;
}

.btn-style {
  border: 0px none transparent;
  background-color: transparent;
}
